@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.thin-scrollbar {
  scrollbar-width: thin;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0px 0px 0px 10px #231d26;
}

::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0px 0px 0px 10px #767478;
}
