@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.thin-scrollbar {
  scrollbar-width: thin;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0px 0px 0px 10px #231d26;
}

::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0px 0px 0px 10px #767478;
}

@layer components {
  .themes {
    @apply border-gray-300 dark:border-[#171118] bg-white dark:bg-[#231d26] text-black dark:text-white;
  }

  .themes-hover {
    @apply hover:bg-gray-300 dark:hover:bg-[#1c171e];
  }

  .item-themes {
    @apply bg-sky-500 text-white hover:bg-sky-700 dark:bg-indigo-700 dark:text-white dark:hover:bg-indigo-900;
  }

  hr {
    @apply border-gray-300 dark:border-[#171118];
  }
}
